<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.besolutions.rosto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Utils.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/rostologo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/rostologo1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Scenarios.ScenarioPersonalInfo.Controller.FAQ"></activity>
        <activity android:name=".Scenarios.ScenarioPersonalInfo.Controller.Who_Are" />
        <activity android:name=".Scenarios.ScenarioProduct.Controller.Product" />
        <activity android:name=".Scenarios.ScenarioPersonalInfo.Controller.Change_Pass" />
        <activity android:name=".Scenarios.ScenarioPersonalInfo.Controller.Edit_Profile" />
        <activity android:name=".Scenarios.ScenarioAuthentication.Controller.Sign_Up" />
        <activity android:name=".Scenarios.ScenarioAuthentication.Controller.SignIn" />
        <activity android:name=".Scenarios.ScenarioMain.Controller.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scenarios.ScenarioMain.Controller.MainActivity" />
    </application>

</manifest>